<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="../static/CSS/css.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Новости</title>
</head>
<body>
<div class="topnav">
    <a class="a" href="/">Домашная страница</a>
    <a class="a active" href="/news">Новости</a>
    <a class="a" href="/table">Домашнее задание</a>
    <a class="a" href="/about">О нас</a>
    <a class="b" href="{{ login_h }}">{{ login_t }}</a>
    <a class="b" style="{{disable}}" href="/table/add">{{ text }}</a>
</div>
{% for i in data %}
<h1><a class="url" href="/news/{{ i[0] }}">{{ i[1] }}</a></h1>
{% endfor %}
</body>
</html>