<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="../static/CSS/css.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <title>Домашная страница</title>
</head>
<body>
<div class="topnav">
    <a class="active a" href="/">Домашная страница</a>
    <a class="a" href="/news">Новости</a>
    <a class="a" href="/about">О нас</a>
    <a class="b" href="{{ login_h }}">{{ login_t }}</a>
    <a class="b" href="/news/add">Добавить Новость</a>
</div>
</body>
</html>