<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выложить Домашнее Задание</title>
</head>
<body>
<div class="topnav">
    <a class="a" href="/">Домашная страница</a>
    <a class="a" href="/news">Новости</a>
    <a class="active a" href="/table">Домашнее задание</a>
    <a class="a" href="/about">О нас</a>
    <a class="b" href="{{ login_h }}">{{ login_t }}</a>
    <a class="b" href="/news/add">Добавить Новость</a>
    <a class="b" style="{{disable}}" href="/table/add">{{ text }}</a>
</div>
</body>
</html>