<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/CSS/css.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <title>Домашнее задание</title>
</head>
<body>
<div class="topnav">
    <a class="a" href="/">Домашная страница</a>
    <a class="a" href="/news">Новости</a>
    <a class="a active" href="/table">Домашнее задание</a>
    <a class="a" href="/about">О нас</a>
    <a class="b" href="{{ login_h }}">{{ login_t }}</a>
    <a class="b" style="{{disable}}" href="/table/add">{{ text }}</a>
</div>
{% for i in data %}
<table class="table">
    <tr>
        <td>Предмет</td>
        <td>Домашнее Задание</td>
    </tr>
    {% for j in i %}
    <tr>
        <td>{{ j[0] }}</td>
        <td>{{ j[1] }}</td>
    </tr>
    {% endfor %}
</table>
{% endfor %}
</body>
</html>